# Secrets
.env

# Data files
datasets/*

# Python Artefacts
__pycache__/
.DS_Store

# mmdet 
mmdetection/

# Wandb.ai
wandb/

# yolo
yolov8m.pt
yolov8n.pt
empty-shelf-detection-yolov8/


# Exclusions
!*/.gitkeep
