[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
roboflow = "*"
torch = "*"
albumentations = "*"
torchvision = "*"
pycocotools = "*"
timm = "*"
torchsummary = "*"
tensorboard = "*"
ultralytics = "==8.0.134"
setuptools = "*"
effdet = {git = "https://github.com/rwightman/efficientdet-pytorch.git"}

[dev-packages]

[requires]
python_version = "3.11"
