[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
roboflow = "*"
torch = "*"
albumentations = "*"
torchvision = "*"
pycocotools = "*"
timm = "*"
torchsummary = "*"
ultralytics = "*"
setuptools = "*"
wandb = "*"
openmim = "*"

[dev-packages]

[requires]
python_version = "*"
